:root {
  --primary-color: rgb(18, 155, 209);
  --text-color: #222222;
  --secondary-color: rgb(7, 113, 155);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
  background-color: rgb(241, 240, 240);
  color: var(--text-color);
}

main {
  flex: 1;
}

.container {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}

header {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
}

header h2 {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

header a {
  color: var(--secondary-color);
  transition: all 600ms;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

header a:hover {
  opacity: 0.8;
  color: white;
  background-color: var(--primary-color);
}

.budget-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-row-gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
}

.form-control {
  display: flex;
  width: 100%;
}

input[type='text'] {
  flex: 1;
  padding: 0.5rem 1rem;
  margin-bottom: 0.7rem;
  box-shadow: var(--box-shadow);
  border: none;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.back {
  display: inline-block;
  margin: 0.4rem 0;
}

.btn:hover {
  background-color: var(--primary-color);
}

.display-budget {
  display: grid;
  grid: 0.7rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.7rem;
}

.heading {
  color: var(--secondary-color);
}

.price {
  font-size: 1.2rem;
}

.budget-info,
.expense-info,
.balance-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-output {
  align-self: flex-start;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  align-self: flex-start;
  text-align: center;
}

th,
td {
  padding: 0.4rem;
  border-bottom: 1px solid var(--primary-color);
}
.btn-delete {
  margin-right: 1rem;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

.error {
  padding: 0.3rem 1rem;
  color: white;
  background-color: red;
  margin-bottom: 0.7rem;
}

.success {
  background-color: green;
}

.about {
  margin-top: 1rem;
}

.about h3 {
  color: var(--secondary-color);
}

@media screen and (max-width: 800px) {
  .budget-control {
    display: grid;
    grid-template-columns: 1fr;
  }
}
